*{
    padding: 0;
    margin: 0;
}
.Navleft{
    background-color: #1b1d22;
    /* background-color: aliceblue; */
    width: 5.4rem;
    height: 1000px;
    box-sizing: border-box;
    z-index: 0;
}
.Navleft .top{
    display: flex;
    height: 0.8rem;
    text-align: center;
    padding-top: 4.76px;
    margin-left: 23px;
}

.Navleft .top div{
    height: 4.93px;
    width: 4.93px;
    background-color: black;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.Navleft .top div:nth-child(1){
    background-color: white;
}
.Navleft .top div:nth-child(2){
    background-color: gray;
}
.Navleft .top div:nth-child(3){
    background-color: rgb(102, 99, 99);
}
.Navleft .logo{
    margin-left: 23.5px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.363);
}
.Navleft a{
    text-decoration: none;
}
.Navleft .active{
    color: white;
}
.Navleft .planlogo{
    margin-top: 18px;
}
.Navleft .month{
    margin-top: 17px;
}
.Navleft .week ,.Navleft .day ,.Navleft .zhongbao,.Navleft .profile,.Navleft .set{
    margin-top: 8px;
}
.Navleft .exit{
    position: fixed;
    bottom: 0;
}
.container{
    display: flex;
}
.Header {
    margin-top: 10px;
    display: flex;
    height: 80px;
    line-height: 80px;
    padding-left: 25px;
    font-size: 28px;
}
.Header .logo{
    font-size: 25px;
    cursor: pointer;
}
.Header .userlogo{
    padding-top: 12px;
    cursor: pointer;
}
.Header .userlogo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}
.Header .tixing{
    font-size: 38px;
    color: gray;
}
.Header .welcome{
    margin-right: 420px;
    width: 480px;
    height: 80px;
    box-sizing: border-box;

}
.Header .jizhang{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    padding-top: 15px;
    cursor: pointer;
}
.Header .jizhang:hover{
    transform: translateX(2px);
}
.Header .rili,.Header .search,.Header .tixing,.Header .time{
    margin-right:12px;
}
.Header .rili{
    margin-right: 38px;
}
.Seconddir{
    width: 220px;
    box-sizing: border-box;
}
.Seconddir .expandable-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease;
}
.Seconddir .expanded{
    max-height: 300px;
}
.Seconddir .collapsed{
    max-height: 0;
}
.Seconddir .kanban,.Seconddir .week,.Seconddir .project,.Seconddir .day,.Seconddir .profile{
    padding-left: 16px;
}
.Seconddir .title{
    padding-left: 16px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 5px;
}
.Seconddir .title.active{
    color: rgb(178, 173, 173);
}
.Seconddir .content{
    height: 28px;
    font-size: 17px;
    margin-left: 22px;
    padding-left: 4px;
    border-radius: 10px;
    margin-bottom: 6px;
    text-align: center;
    width: 140px;
    background-color: #cccccc31;
    box-shadow: 0px 0px 2px rgba(62, 62, 62, 0.1);
}
.Seconddir .Projecttitle{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.Seconddir .back img{
    height: 20px;
    width: 20px;
    padding-top: 9px;
    cursor: pointer;
}
.App .container .mainpart{
    display: flex;
    flex-direction: column;
}
.Control {
    display: flex;
    height: 45px;
    box-sizing: border-box;
    font-size: 25px;
}
.Control select{
    margin-top: 3px;
    padding-left: 5px;
    height: 34px;
    width: 84px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.1);
}
.Control .title{
    margin-right: 8px;
    margin-left: 25px;
}
.Control .placeholder{
    width: 660px;
}
.Control .rounded-button{
    border-radius:10px;
    margin-right: 20px;
    width: 100px;
    height: 42px;
    color: white;
    border: 1px solid rgba(245, 222, 179, 0.495);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Control .rounded-button:hover {
    transform: translateY(2px);
}
.Control .taskbutton{
    background-color: #328bf1b1;
}
.Control .projectbutton{
    background-color: rgba(56, 117, 40, 0.658);
}
.Kanban,.Projectdetail {
    display: flex;
}

.Kanban .column ,.Projectdetail .column{
    flex: 1; /* 列等宽 */
    background-color: white;
    /* background-color: #f4f4f4;  */
    padding: 10px ;
    margin: 20px 10px 0;
    border-radius: 8px;
    min-height: 700px;
    text-align: center;
    border: 1.8px dashed #0000002d;
}
.Kanban a,.Projectdetail a{
    text-decoration: none;
    color: black;
}
.Kanban .card,.Projectdetail .card{
    height: 134px;
    width: 236px;
    margin: 16px auto;
    border-radius: 4px; /* 圆角 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    display: flex;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
}
.Kanban .card:hover,.Projectdetail .card:hover{
    transform: translateY(2px);
    transform: translateX(2px);
}
.Kanban .card.empty,.Projectdetail .card.empty{
    border: 1px dashed #60606076;
}
.Kanban .colorbar,.Projectdetail .colorbar{
    width: 12px;
    background-color: pink;
    border-radius: 4px;
    margin-right: 10px;
}
.Kanban .title,.Projectdetail .title{
    display: flex;
    justify-content: space-between;
}
.Taskcard .cardcontent,.Projectcard .cardcontent{
    width: 212px;
}
.Taskcard .card .delete,.Projectcard .card .delete{
    font-size: 20px;
    color: gray;
}
.Kanban .detail,.Projectdetail .detail{
    display: flex;
}
.Kanban .tags,.Projectdetail .tags{
    margin-top: 8px;
    margin-bottom: 30px;
    display: flex;

}
.Kanban .tags div,.Projectdetail .tags div{
    width: 50px;
    height: 27px;
    border-radius: 11px;
    background-color: rgba(255, 192, 203, 0.427);
    margin-left: 2px;
}
.Kanban .title .delete,.Projectdetail .title .delete{
    width: 40px;
    position: relative;
    padding-top: 5px;
    margin-left: 65px;
}
.Kanban .Date,.Projectdetail .Date{
    border-radius: 11px;
    background-color: rgb(250, 250, 206);
    padding: 2px 3px;
    width: 118px;

}
.Kanban .comment,.Projectdetail .comment{
    display: flex;
    margin-left: 36px;
    padding-top: 4px;
}
.Kanban .comment div,.Projectdetail .comment div{
    padding-right: 3px;
    font-size: 26px;
}
.Kanban .add,.Projectdetail .add{
    font-size: 45px;
    color: darkgray;
    box-sizing: border-box;
    margin: auto;
}
.Progressbar {
    width: 200px;
    height: 5px;
    border: 1px solid #0000002c;
    border-radius: 5px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.167);
    margin-bottom: 10px;
}
.Progressbar div{
    height: 100%;
    position: 'absolute';
    top: 0;
    left: 0;
}
.Projectcard .grouptag{
    color:rgba(128, 128, 128, 0.626);
    position: relative;
    text-align: left;
    font-size: 18px;
}
.Projectcard .rate{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(78, 77, 77);
}
.Projectcard .rate .ratenum{
    margin-right: 10px;
}
.firstline{
    padding-top: 20px;
    /* margin-bottom: 10px; */
}
.firstline,.secondline {
    padding-left: 50px;
    display: flex;
}
.Quadrant {
    display: flex;
    height: 400px;
    width: 500px;
    border: 1px solid #0000002d;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgba(245, 249, 245, 0.139);
    /* margin: 0 10px 10px 0; */
}
.Quadrant .colorbar{
    height: 28px;
    width: 500px;
    border-radius: 8px;
    display: flex;
    font-size: 22px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    align-items: center;  
    justify-content: center; 
    position: relative; 
}
.Quadrant .colorbar .icon-jiahao {
    position: absolute;
    font-size: 23px;
    right: 5px;   
    cursor: pointer;          
}

.Weekcard {
    height: 100px;
    width: 220px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px 0px 3px 0px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(251, 241, 223, 0.084);
    
}
.Weekcard.card:hover{
    transform: translateY(2px);
    transform: translateX(2px);
}
.Weekcard .colorandcontent{
    display: flex;
}
.Weekcard .colorbar{
    width: 10px;
    height: 100px;
    background-color: rgba(0, 110, 255, 0.642);
}
.Weekcard .team{
    font-size: 22px;
    padding-left: 10px;
    color: rgb(107, 103, 103);
    margin-bottom: 3px;
}
.Weekcard .detail{
    width: 200px;
    height: 100px;
}
.Weekcard .line{
    display: flex;
    box-sizing: border-box;
    position: relative;
}
.Weekcard .icon-lajixiang{
    padding-top: 5px;
    font-size: 20px;
    color: gray;
    position: absolute;
    right: 4px;
}
.Weekcard .title{
    font-size: 25px;
    padding-left: 10px;
}
.Weekcard .tags{
    display: flex;
}
.Weekcard .tag{
    font-size: 18px;
    padding-left: 10px;
    color: rgb(97, 96, 96);
}
.Weekcard .Isdelete{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.715);
}
.two-columns {
    column-count: 2; /* 创建两列 */
    column-gap: 20px; /* 设置列之间的间距 */
}

.Daycardtodo {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    height: 800px;

    /* 如果内容超出了这个高度，显示滚动条 */
    overflow-y: auto;
}

.Daycardtodo .layout {
    max-width: 800px;
    margin: 20px auto;
}

.Daycardtodo .content {
    padding: 20px;
}

.Daycardtodo .title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.Daycardtodo .todo-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Daycardtodo .todo-item {
    display: block;
    margin-bottom: 15px;
}

.Daycardtodo .todo-item:hover{
    transform: translateX(2px);
    cursor: pointer;
}

.Daycardtodo .task-box {
    display: flex;
    align-items: center;
    border: 10px dashed #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center; /* 垂直居中 */
    height: 7vh; /* 或者你想要容器的高度 */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.311);
    padding-left: 6px;
}
.Daycardtodo .image{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.Daycardtodo .check {
    float: right;

    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #b9b6b6;

}
.Daycardtodo .check .text-success {
    color: #ffb951d0;
}
.Daycardtodo .task:hover,
.Daycardtodo .task:focus
{
    color: #ffb951d0;
    text-decoration: none;
    cursor: pointer;
}
.Daycardtodo .new {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
    width: 50px;
    height: 50px;

}

.Daycardtodo  .edit{
    margin-right: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #404040;
    font-size: 1.5em;

}
.Daycardtodo  .delete-btn {
    background: none;
    border: none;
    color: #404040;
    cursor: pointer;
    margin-right: 20px;
    padding: 0;
    font-size: 1.5em;
}

.Daycardtodo .delete-btn:focus {
    outline: none;
}

/* .Daycardtodo  .delete-btn i {
    /*color: #96dbfa;} */

.Daycardtodo .fa-trash-o,.Daycardtodo .fa-pencil{
    color: #ccc;
}   
.Daycardtodo  .fa-plus-circle{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}
.Daycardphoto {
    font-family: 'Arial', sans-serif;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
}

.Daycardphoto .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.Daycardphoto .divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: linear-gradient(to right, #ccc, #333, #ccc);
}

.Daycardphoto h2 {
    margin-top: 5px;
    color: #524f4f;
}
.Daycardphoto .note{
    font-size: 20px;
}

.Daycardphoto .card {
    flex: 1;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

.Daycardphoto .card img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    margin-bottom: 10px;
    filter: blur(3px);
}
.Daycardphoto .card  .text-overlay {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
}

.Daycardphoto textarea {
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
    color: #333;
}


.Daycardphoto textarea:hover,
textarea:focus {
    border-color: #888;
    outline: none;
    box-shadow: 0 0 0 2px #ccc;
}
.Modal .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Modal .form-container {
    flex-grow: 1;
    width: 50%;
    padding-right: 20px;
}

.Modal .notes-container {
    width: 50%;

    right: 0;
   bottom: 10px;
}

.Modal .label {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap:1px;
    margin-bottom: 20px;
}
.Modal .title{

    font-size: 1.5em;
    font-weight: bolder;
    background: transparent;
    border: none;
    width: auto;
    padding: 0;
    max-width: 100px;
    outline: none;
    box-shadow: none;
    justify-content: center;

}



.Modal .column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Modal .file-input {
    margin-top: 10px; /* 为文件输入框添加顶部间距 */
}
.Modal .notes {
    flex-grow: 1;

}

.Modal .file-upload {
    margin-bottom: 20px;
}

.Modal .create-time {
    font-style: italic;
    border-radius: 5px;
}
.Modal .cancle{
    font-size:1.5em;
    background-color: rgba(32, 157, 229, 0.68);
    padding: 10px 20px;
    margin-top: 50px;
    margin-left:80px ;
    border-radius: 10px;
    border: none;
    color:white;
}
.Modal .cancle:hover,
.Modal .cancle:focus{
    text-decoration: none;
    cursor: pointer;
    transform: translateX(2px);
}
.Modal .label{
    position: relative;
}
.Modal .label .fa{
    font-size: 25px;
    color: #b9b6b6;
    position: absolute;
    right: 5px;
}
.Modal .column .description{
    margin-top: 4px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    padding-top: 5px;
    text-indent: 10px;
    box-sizing: border-box;
}
.Modal .logfile{
    padding-left: 10px;
}
.Modal .taginfo{
    position: absolute;
    right: 5px;
    padding-left: 5px;
    height: 24px;
    font-size: 20px;
    width: 160px;
    border: none;
    border-radius: 5px;
    background-color:#8888881a ;
    text-align: center;
    box-sizing: border-box;
}
.Modal .Userlabel{
    display: flex;
    justify-content: space-between;
    width: 366px;
}
.Modal .Userlabel .asstitle{
    width: 100px;
}
.Modal .Userlabel .User{
    width: 160px;
    background-color: #8888881a ;
    text-align: center;
    border-radius: 5px;
    height: 28px;
}

.Modal .logfile::file-selector-button{
    color: white;
    background-color: rgba(0, 115, 255, 0.603);
    border-radius: 7px;
    border: 1px solid rgb(223, 218, 218);
    height: 28px;
    font-size: 16px;
    cursor: pointer;
}

.Modal .save{
    font-size: 1.5em;
    background-color: rgba(121, 218, 25, 0.689);
    padding: 10px 20px;
    margin-left:80px ;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    color:white;
}
.Modal .save:hover,
.Modal .save:focus{
    transform: translateX(2px);
    text-decoration: none;
    cursor: pointer;
}
.Modal .Compile-card{
    background-color: white; /* 背景颜色 */
    color: #333; /* 文字颜色 */
    font-size: 16px; /* 字体大小 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 5px; /* 圆角 */
    padding: 10px 20px; /* 内边距 */
    /* 添加一些外边距，以便框不紧贴页面边缘 */
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.Modal .compile-title{
    font-size: 24px;
    font-weight: bold;
}
.Modal .compile-time{
    font-size: 16px;
}
.modal-rounded-textarea {
    border-radius: 8px; /* 添加圆角，半径为8像素 */
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}
.Modal .datalabel{
    position: relative;
}
.Modal .datelabel{
    display: flex;
}
.Modal .Date{
    position: absolute;
    right: -324px;
    width: 160px;
    border: none;
    text-align: center;
    font-size: 20px;
    background-color: #8888881a;
    height: 28px;
    border-radius: 5px;
}
.Modal .Destitle{
    font-size: 20px;
}
.Modal .pic{
    width: 24px;
    height: 24px;
    margin-left: 2px;
}
.Modal .Progressselect{
    height: 27px;
    border-radius: 5px;
    background-color: #8888881a;
    width: 160px;
    font-size: 20px;
    margin-left: 15px;
    position: absolute;
    right: 5px;
    border: none;
    text-align: center;
    height: 30px;
}

.modal-content {
    background-color:white;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    height: 80%;
    min-height: 500px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px!important;
}



/* 当模态框打开时 */
.modal.show {
    display: block;
}
.Modal-button {
    font-size: 40px;
}